.navbar {
  background-color: #2ccddf;
  background: linear-gradient(to right, #5ce1e6, #004aad );
  width: 100%;
  height: 74px;
  padding: 8px;
  
  display: flex;
  font-size: 30px;
}
body {
  margin: 0;
  overflow-x: hidden;
}
p {
  margin: 0;
}
.div1 {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
  text-decoration: none;
  margin-right: 10px;
}
.logo {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
#title {
  font-weight: 600;
  color: black;
}
.link {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
  font-weight: 600;
  transition: background-color ease .5s;
}
.link:hover {
  background-color: rgb(44, 119, 223);
}
.video{
  height: 400px;
  margin: 30px;
  border-radius: 10px;
}
.via{
  display: flex;
  align-items: center;
  justify-content: center;
}
h2{
  font-size: 35px;
}
.fui{
    border: 2px solid;
    border-radius: 10px;
    text-decoration: none;
    margin: 10px;
    background-color: rgb(44, 119, 223); 
    padding: 5px; 
    color: black;
    font-size: 30px;
}
.fui:hover{
  background-color: rgb(44, 205, 223);
}
#fiu{
  display: flex;
  align-items: center;
  justify-content: center;
}
#di{
  font-size: 40px;
  text-align: center;
  background-color: black;
  width: 100%;
  color: white;
}
.h2{ 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(44, 205, 223);
  border-radius: 10px;
  width: 100%;
}
form{
  font-size: 40px;
  text-align: center;
  border: 2px solid;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}
input{
  font-size: 35px;
}
.dui{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nina{
width: 100%;
}