h1{
    font-size: 50px;
    text-align: center;
    background-color: rgb(44, 119, 223);
}
h2{
    font-size: 20px;
}
form{
    font-size: 30px;
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}
input{
    font-size: 30px;
    padding: 5px;
    margin: 10px;
}
a{
    text-decoration: none;
    border: 2px solid;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(44, 119, 223);
    color: black;
    padding: 5px;
}
a:hover{
    background-color: rgb(44, 205, 223);
}
#suy{
    display: flex;
    align-items: center;
    justify-content: center;
}